*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.buttons{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    justify-content: space-between;
    padding: 0 100px;
}
.buttons div{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all .3s linear;
}
.buttons div:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
.slider{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.slider img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.buttons #next:hover i{
    animation: next .8s linear infinite ;
}
@keyframes next{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(7px);
    }
    100%{
        transform: translateX(0px);
    }
}
.buttons #prev:hover i{
    animation: prev .8s linear infinite ;
}
@keyframes prev{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-7px);
    }
    100%{
        transform: translateX(0px);
    }
}
